Package: com.mj.qqvideo78
Name: qqvideo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: pong
Author: pong
Section: Tweaks
